ion-list {
    &.sounds {
        div.list ion-item {
            width: 49%;
            margin: 0 0.5%;
            display: inline-block;
            border: 1px solid #222;
        }
        div.list ion-item:nth-child(odd) {
            border-radius: 0 30px 30px 0;
        }
        div.list ion-item:nth-child(even) {
            border-radius: 30px 0 0 30px;
            text-align: right;

            a {
                padding: 16px 16px 16px 49px;
            }
        }
    }
}
